<div class="sidebar-c">
  <div class="search">
    <input class="input-mc">
  </div>
  <div class="user-list">
    <div class="patient">
      <div class="personal-data">
        <p>
          <span>Name</span>
          <span>Last</span>
        </p>
        <p class="dob">
          07.01.1993
        </p>
      </div>
      <div class="icon-block">
        <img class="icon" src="./../../assets/ambulance-call.svg">
      </div>
    </div>
    <div class="patient">
      <div class="personal-data">
        <p>
          <span>Name</span>
          <span>Last</span>
        </p>
        <p class="dob">
          07.01.1993
        </p>
      </div>
      <div class="icon-block">
        <img class="icon" src="./../../assets/ambulance-call.svg">
      </div>
    </div>
    <div class="patient">
      <div class="personal-data">
        <p>
          <span>Name</span>
          <span>Last</span>
        </p>
        <p class="dob">
          07.01.1993
        </p>
      </div>
      <div class="icon-block">
        <img class="icon" src="./../../assets/ambulance-call.svg">
      </div>
    </div>
    <div class="patient">
      <div class="personal-data">
        <p>
          <span>Name</span>
          <span>Last</span>
        </p>
        <p class="dob">
          07.01.1993
        </p>
      </div>
      <div class="icon-block">
        <img class="icon" src="./../../assets/ambulance-call.svg">
      </div>
    </div>
    <div class="patient">
      <div class="personal-data">
        <p>
          <span>Name</span>
          <span>Last</span>
        </p>
        <p class="dob">
          07.01.1993
        </p>
      </div>
      <div class="icon-block">
        <img class="icon" src="./../../assets/ambulance-call.svg">
      </div>
    </div>
    <div class="patient">
      <div class="personal-data">
        <p>
          <span>Name</span>
          <span>Last</span>
        </p>
        <p class="dob">
          07.01.1993
        </p>
      </div>
      <div class="icon-block">
        <img class="icon" src="./../../assets/ambulance-call.svg">
      </div>
    </div>
    <div class="patient">
      <div class="personal-data">
        <p>
          <span>Name</span>
          <span>Last</span>
        </p>
        <p class="dob">
          07.01.1993
        </p>
      </div>
      <div class="icon-block">
        <img class="icon" src="./../../assets/ambulance-call.svg">
      </div>
    </div>
    <div class="patient">
      <div class="personal-data">
        <p>
          <span>Name</span>
          <span>Last</span>
        </p>
        <p class="dob">
          07.01.1993
        </p>
      </div>
      <div class="icon-block">
        <img class="icon" src="./../../assets/ambulance-call.svg">
      </div>
    </div>
    <div class="patient">
      <div class="personal-data">
        <p>
          <span>Name</span>
          <span>Last</span>
        </p>
        <p class="dob">
          07.01.1993
        </p>
      </div>
      <div class="icon-block">
        <img class="icon" src="./../../assets/ambulance-call.svg">
      </div>
    </div>
    <div class="patient">
      <div class="personal-data">
        <p>
          <span>Name</span>
          <span>Last</span>
        </p>
        <p class="dob">
          07.01.1993
        </p>
      </div>
      <div class="icon-block">
        <img class="icon" src="./../../assets/ambulance-call.svg">
      </div>
    </div>
    <div class="patient">
      <div class="personal-data">
        <p>
          <span>Name</span>
          <span>Last</span>
        </p>
        <p class="dob">
          07.01.1993
        </p>
      </div>
      <div class="icon-block">
        <img class="icon" src="./../../assets/ambulance-call.svg">
      </div>
    </div>
    <div class="patient">
      <div class="personal-data">
        <p>
          <span>Name</span>
          <span>Last</span>
        </p>
        <p class="dob">
          07.01.1993
        </p>
      </div>
      <div class="icon-block">
        <img class="icon" src="./../../assets/ambulance-call.svg">
      </div>
    </div>
    <div class="patient">
      <div class="personal-data">
        <p>
          <span>Name</span>
          <span>Last</span>
        </p>
        <p class="dob">
          07.01.1993
        </p>
      </div>
      <div class="icon-block">
        <img class="icon" src="./../../assets/ambulance-call.svg">
      </div>
    </div>
  </div>
  <div class="add-new-patient">
    <button>
      Add New Patient
    </button>
  </div>
</div>
