<div class="sidebar-c">
  <div class="search">
    <input class="input-mc" (input)="onSearchChange($event.target.value)">
  </div>
  <div class="user-list">
    <div class="patient" *ngFor="let patient of displayData; let i = index">
      <div class="personal-data" (click)="selectPatient(i)">
        <p>
          <span>{{patient.firstName}}</span>
          <span>{{patient.lastName}}</span>
        </p>
        <p class="dob">
          {{patient.dateOfBirth}}
        </p>
      </div>
      <div class="icon-block">
        <img class="icon" src="{{patient.icon}}" alt="icon" width="20" height="35">
      </div>
    </div>
  </div>
  <div class="add-new-patient">
    <button (click)="addNew()">
      Add New Patient
    </button>
  </div>
</div>
