$fontColor: #444;
$fontSize: 14px;
$fontTitle: 16px;
$lightGray: #ccc;
$gray-100: #F5F5F5;
$gray-200: #EEEEEE;
$blue-400: #42A5F5;
$blue-500: #2196F3;
$red-400: #ef5350;
$red-500: #f44336;
$amber-400: #FFCA28;
$amber-500: #FFC107;
$green-400: #66BB6A;
$green-500: #4CAF50;
