<h1>Patient Registration</h1>
<div class="registration">
  <div>
    <label>
      <input type="text" placeholder="First Name">
    </label>
  </div><br>
  <div>
    <label>
      <input type="text" placeholder="Last Name">
    </label>
  </div><br>
  <div>
    <label>
      <input type="text" placeholder="Age">
    </label>
  </div><br>
  <div>
    <label>
      <input type="date" placeholder="Date Of Birth">
    </label>
  </div><br>
  <div>
    <label>
      <input type="radio" value="MALE">Male
      <input type="radio" value="FEMALE">Female
      <input type="radio" value="OTHERS">Other
    </label>
  </div><br>
  <div>
    <label>
      <input type="text" placeholder="Country">
    </label>
  </div><br>
  <div>
    <label>
      <input type="text" placeholder="State">
    </label>
  </div><br>
  <div>
    <label>
      <input type="text" placeholder="Address">
    </label>
  </div><br>
  <div>
    <input type="submit" value="Register">
  </div><br>
  <div>
  <button>Home</button>
  </div>
</div>
