<div class="dashboard-c">
  <div class="dashboard-header">
    <p>
      <span>First Name Last Name</span>
      <span>26 year old</span>
    </p>
    <div class="actions">
      <button class="button-mc edit">edit</button>
      <button class="button-mc delete">delete</button>
      <button class="button-mc save">save</button>
      <button class="button-mc delete">cancel</button>
    </div>
  </div>
  <div class="dashboard-content">
    <div class="user-data">
      <table>
        <tr>
          <td class="label">Date of Birthday</td>
          <td class="data">01 01 0111</td>
        </tr>
        <tr>
          <td class="label">Sex</td>
          <td class="data">male</td>
        </tr>
        <tr>
          <td class="label">Country</td>
          <td class="data">UA</td>
        </tr>
        <tr>
          <td class="label">State</td>
          <td class="data">Lviv</td>
        </tr>
        <tr>
          <td class="label">Address</td>
          <td class="data">ssssssss</td>
        </tr>
      </table>
    </div>
    <div class="comments">
      <p class="title">Comments: </p>
      <div class="comment-block">
        <div class="one-com">
          <p>01.22</p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
          </p>
        </div>
        <div class="one-com">
          <p>01.22</p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
          </p>
        </div>
        <div class="one-com">
          <p>01.22</p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
          </p>
        </div>
        <div class="one-com">
          <p>01.22</p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
          </p>
        </div>
      </div>
      <div class="add-com">
        <textarea></textarea>
        <button class="button-mc save">Add</button>
      </div>
    </div>
  </div>
</div>
